@charset "windows-1251";
/* CSS Document */

.header-top {
	height: 39px;
	width: 100%;
	background: #419dd0; 
}
#header a { text-decoration: none; }
#header a:hover { text-decoration: underline; }
.header-info {
	padding-top: 22px;
	height: 60px;
	width: 100%;
	background: #ffffff;
}

.top-nav{
	font: 11px/14px 'ubuntumedium', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	float:right;
	margin:0;
	padding-right: 2%;
	list-style:none;
}
.top-nav li{
	float:left;
	line-height: 39px;
}
.top-nav li:hover { background: #65b4de; }
.top-nav li a{
	text-decoration:none;
	color:#ffffff;
	padding: 0 7px;
	height: 100%;
	display: inline-block;
}
.top-nav li a.active,
.top-nav li a:hover{
	text-decoration: none !important;
	background: #65b4de;
	color: #fff;
}
.logo { 
	width: 220px;
	height: 75px;
	margin-top: -20px;
}
.help-block, .input-block { 
	float: right; 
	width: 100px;
	text-align: center;
	line-height:38px;	
	border-left:1px solid #b5e4fc;
	text-transform: uppercase;
}

.help-block a, .input-block a { 
	font: 11px/14px 'ubuntumedium', Arial, Helvetica, sans-serif;
	text-decoration: none; 
	color: #ffffff;
}

.icon20px {
	background: url(../img/icon20.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.icon40px { width: 40px;
	height: 40px;
	margin-right: 10px;
	display: block;
	float: left;
	background: url(../img/icon40.png) no-repeat;
}
.icon-dostavka { background-position: -40px 0 !important; }
.icon-enter { background-position: -20px 0 !important; vertical-align: baseline; vertical-align: sub; margin-top: 8px; }
.help-block a:hover span { background-position: 0 -20px; }
.input-block a:hover span, .active .icon-enter { background-position: -20px -20px !important; }
.icon-new { background-position: 0 -40px !important; }
.icon-hits { background-position: -40px -40px !important; }
.icon-sale { background-position: 0 -80px !important; }
.icon-vk { background-position: -50px -80px !important; }
.icon-fb { background-position: -90px 0 !important; }
.icon-twitter { background-position: -90px -40px !important; }
.icon-youtube { background-position: -80px -80px !important; }
.small-text { font-size: 12px; font-weight: normal; }
.icon-vk, .icon-fb, .icon-twitter { width: 25px; margin-right: 0; }
.header-phone { margin-right: 30px; margin-top: -10px; font-size: 22px;}
.header-phone a { text-decoration: underline !important; display: block;}
.header-phone a:hover { text-decoration: none !important; }

a .icon40px { opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	transition: all 0.3s;
}
a:hover .icon40px { opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}
.col20 { 
	width: 20%;
	float: left;
}
.col10 {
	width: 10%;
	float: left;
}
.col30 {
	width: 30%;
	float: left;
}

.tripple-point { 
	display: block;
	width: 27px; 
	height: 7px;
	background: url(../img/tripple-point.png) no-repeat;
	margin: 10px auto;
}
#nav .last-child:hover .tripple-point { background-position: 0 -7px; }
#nav > li { text-align: center; }
.rouble {
	font-family: 'pt_sansregular';
	font-weight: normal;
}
.col-left .rouble { font-family: 'pt_sansbold' }
.top_categories { 
	padding-left: 0;
	margin: 0;
	list-style: none;
	background: #ffffff;
	height: 120px;
	overflow: hidden; 
}
.top_categories li { 
	float: left;
	width: 25%;
	height: 120px;
	overflow: hidden;
	background: url(../img/v-sep.png) right center no-repeat;
	position: relative;
}
ul.top_categories li:last-child { background: none; }

.cat-content { 	
	font-family: 'ubunturegular', Arial, sans-serif; 
	font-size: 17pt; 
	color: #212121;
	margin-left: 30px;
	margin-top: 20px;
	position: relative;
	z-index: 10;
}
.cat-content .rouble {
	color: #404040;
	font-family: 'pt_sansbold'
}
.cat-content .price {
	color: #3080ad;
	font-family: 'ubuntubold', arial, sans-serif;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cat-img {
	width: 120px;
	height: 120px;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 0;
	float: right;
	overflow: hidden;
	text-align: right;
}
ul.top_categories li:last-child .cat-img { right: 0; }
.cat-img img {
	max-width: 120px;
	max-height: 120px;
}
.myBtn {
	display: inline-block;
	padding: 2px 5px;
	background: #fe6869;
	color: #ffffff;
	text-decoration: none;
	border-radius: 			3px;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
}
.cat-content .myBtn { font-size: 13px; }
.tab-list{
	font: 19px/22px 'ubuntulight', Arial, Helvetica, sans-serif;
	overflow:hidden;
	height:1%;
	margin:0;
	padding: 17px 21px 18px;
	list-style:none;
	background: #ecfaff;
}
.tab-list li{
	float:left;
	margin: 0 2.6% 0 0;
}
.tab-list li a{
	text-decoration:none;
	color:#1277a5;
	width: 100%;
	margin-top: 0;
}
.tab-list strong {
	border-bottom:1px dashed #1277a5;
	font-weight: normal;
}
.tab-list .active strong { border-bottom: none; }
.tab-list li a.active,
.tab-list li a:hover{
	color:#161616;
	text-decoration:none;
	border-bottom: 0;
	padding-bottom:1px;
}
.tab-list a .icon40px {
	margin-bottom: -3px;
	display: inline-block;
	vertical-align: middle;
	float: none;
	opacity: 0.6;
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.tab-list .active .icon40px, .tab-list a:hover .icon40px {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}
.container { padding: 0;}
.information-block { background: #ffffff url(../img/shadow02.png) no-repeat top center; }
.contacts{
	float:right;
	padding: 0 0 0 20px;
	width: 780px;
}
.contacts .header-phone { font-size: 21px; margin-top: 5px; font-family: 'ubuntubold', sans-serif; float: none;}
.information-block .contacts h5 { margin-bottom: 10px;
	font-family: 'ubuntumedium', sans-serif;
	font-size: 10pt;
}
.information-block .contacts p { margin-bottom: 15px; }
.contacts .col20 { width: 30%; margin-right: 3%; }
.contacts div.col20:first-child { }
.labels { position: absolute;
	left: -13px;
	top: 15px;
	width: 105px;
	height: 120px;
	font-family: 'ubuntubold', 'Arial Black', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
}
.information-block .text { font-size: 8px; }
.labels span {
	width: 105px;
	height: 30px;
	line-height: 33px;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 4px;
}
.product-catalog02 .labels { left: -40px; }
.product-catalog02 .labels span { width: 70px; height: 24px; line-height: 26px; font-size: 10px; }
.labels .new { background: #419dd0; }
.labels .hit { background: #6ec05d; }
.labels .sale { background: #f9895d; }

.link-basket, .link-basket2 { 
	float: right;
	padding: 0 10px; 
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	border: 1px solid #898989;
	color: #333333;
	font-size: 13px;
	font-family: 'ubuntubold';
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.link-basket:hover, .link-basket2:hover, #virtual { background: #fe6869; border-color: #fe6869; color: #ffffff; }
#virtual, #virtual2 { position: absolute; display: none; transition: all 0.5s ease-out }
.oldPrice { position: absolute;
	top: -25px;
	left: 0;
	font-size: 13pt;
	text-decoration: line-through;
	color: #fe6869;
}
.product-catalog .col-left { overflow: visible; }
.scroll-pane { outline: none; }
.drop-nav-hold h3 {
	text-transform: uppercase;
	font-family: 'ubuntubold' sans-serif;
}
.drop-nav h3 a { text-decoration: none; color: #212121; }
.drop-nav a:hover { color: #3080ad; text-decoration: none !important;}
.drop-nav .visual img { max-width: 90%; max-height: 95%; }
.drop-nav .visual {
	display: table-cell;
	height: 180px;
	vertical-align: middle;
	text-align: center;
}
.drop-nav .description { min-height: 52px; }
.dd3c .col { width: 33.3%; box-sizing: border-box; margin: 0 0 0 -1px; }
.dd2c .col { width: 50%; box-sizing: border-box; margin: 0 0 0 -1px; }
.last-drop { max-width: 550px !important }
.last-drop .drop-nav-hold .col:last-child { background-position: 10px 0 !important }
.basket-count, .sravCount, .favCount {
	display: inline-block;
	float: left;
	width: 27px; height: 27px;
	line-height: 27px;
	background: #fe6869;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	text-align: center;
	margin: 0 7px;
	font-size: 14px;
	color: #ffffff;
	margin-top: -6px;
}
.sravCount, .favCount { 
	float: none;
	background: #cecece; 
}
.sravCount--active, .favCount--active { background: #fe6869; }
.basket-footer.active .add-block{ 	display:block; }
.add-block{
	display: none;
	position:absolute;
	left: 17px;
	top: -60px;
	color:#fff;
	font-size: 14px;
	height: 30px;
	padding: 5px 0 0;
	width: 190px;
	line-height:27px;
	background: #fe6869;
	text-align: center;
	text-transform: none;
}
.add-block:before {
	content: '';
	width: 20px;
	height: 20px;
	background: #fe6869;
	position: absolute;
	bottom: -10px;
	left: 80px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.footer-row a { 	text-transform: uppercase; }
.clearfix { width: 100%; height: 1px; clear: both; }
.block-type02 a { color: #171717; }
.blog-list li { clear: both; margin-bottom: 30px;}
.blog-list li .visual { margin-bottom: 30px; }
.blog-date { margin-bottom: 15px; display: block;}
.block-type02 .heading-blog { padding-bottom: 15px; }
.blog-col { height: 870px; overflow: hidden; }


.btn-basket{
	text-transform:uppercase;
	margin: 0 0 10px -6px;
	display:block;
	line-height: 48px;
	font-weight:bold;
	font-size: 16px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	width:210px;
	height:49px;
	margin: 0 auto 10px;
}
.btn-basket span{ 	display:block; }
.btn-basket.active .add-basket{ 	display:none; }
.add-basket {
	padding-bottom: 2px;
	text-align:center;
	background: #7F86CC;	
	position: relative;
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#virtual2 { width: 120px; height: 48px; }
.btn-basket.active .items-cart{
	display:block;
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.btn-basket .items-cart{
	display:none;
	background: #B795D4;
}
.btn-credit{
	text-align:center;
	text-transform:uppercase;
	display:block;
	line-height: 16px;
	font-weight:bold;
	font-size: 16px;
	color:#fff;
	text-decoration:none;
	background: #DBDADA;
	width:210px;
	height: 38px;
	padding-top: 8px;
	margin: 0 auto 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.btn-credit:hover { background-color: #D1CFC9; }
.block-type05 .heading-link { float: none; }
.block-type05 .visual {
	width: 55px;
	height: 55px;
	border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	overflow: hidden;
	margin: 0 10px 0 -8px;
}
.block-type05 .visual img { max-height: 55px; }
.block-type05 .text { padding: 0 }
.block-type05 .blog-date { margin-bottom: 4px; }

.block-type02 .visual, .block-type01 .visual  {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	overflow: hidden;
}
.block-type02 .visual img, .block-type01 .visual img { max-height: 100px; height: 100px; }
#nav .last-child .col { background-position: 13px 0 !important; }


.dop_options { margin-top: -6px; margin-bottom: 6px;}
.myChb { display: block; float: left; line-height: 23px; z-index:5;}
.myChb input[type=checkbox] { display: none; }
.myChb:nth-child(2) { float: right; } 
.dop_options .checkboxArea, #virt_checked, .options .checkboxArea { 
	width: 26px; 
	height: 26px;
	margin-right: 3px;
	background: url(../img/mycheckbox.png) no-repeat;
	
}
.dop_options .checkboxAreaChecked, #virt_checked, .options .checkboxAreaChecked { background-position: 0 -26px; }
.dop_options .myChb:last-child { margin-right: 0; }
#virt_checked { position: absolute; transition: all 0.5s; left: -9999px}
.info li:first-child { border-right: none; }
.info li { position: relative; }
.info .new {
	left: auto;
	right: -59px;
	top: -55px;
}
.promo .img-hold img {
	max-height: 100%;
}
.promo .sale { text-align: center; background: #419dd0; }
.promo .sale  img { top: 0; left: 0; margin: 0; position: static;}
.sale .visual { width: 100%; height: 170px; padding-top: 10px;}
.sale-header { text-align: left; background: #419dd0; padding-bottom: 5px; color: #fff;}
.sale-header h4 { margin-bottom: 0; color: #fff;}
.sale-container { background: #fff; margin: 10px 10px 10px 9px; }
/*
.small-text { font-size: 11px; }
*/
#counter { width: 135px;
			height: 49px;
			padding: 10px 5px 0;
			background: #d1d1d1;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
}
#counter:after { width: 140px;
	height: 6px;
	content: '';
	background: url(../img/count-btm.png) no-repeat;
	position: absolute;
	bottom: -6px; left: 0;
}
.counter-days, .counter-hours, .counter-minutes {
	width: 34px;
	height: 34px;
	background: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #a6a6a6;
	position: relative;
	color: #000;
}
.counter-minutes { margin-rigth: 0; }
.counter-days { margin-left: 5px; }
.count-sep { font-weight: 600; font-size: 18px; margin-left: 3px;}
.counter-days:after, .counter-hours:after, .counter-minutes:after {
	position: absolute;
	width: 100%;
	bottom: -27px;
	left: 0;
	content: 'Дней';
	font-size: 7pt;
	font-weight: normal;
}
.counter-hours:after { content: 'Часов' }
.counter-minutes:after { content: 'Минут' }
.sale .description { margin-bottom: 10px; padding: 0 10px;}
.sale .description a { max-height: 35px; }
.sale .price { margin-top: 10px; font-size: 22px; overflow: auto; font-weight: bold; color: #fe6869}
.sale .price > .oldPrice { position: static; color: #3f4c56}
.payments { margin-right: 10px; display: inline-block; vertical-align: middle;}
.input-search-hold { padding: 0 10% 0 152px; }
.input-search { background: #fff; position: relative; }
.input-search input { color: #323232 }
.input-search:after { position: absolute; top: 0; right: -7px; height: 29px; width: 30px;
	background: url(../img/search-corner.png) no-repeat; content: ''; z-index: 10 }
.btn-search {
	width: 10%;
	background: #fe6869 url(../img/btn-search-white.png) 23% 1px no-repeat;
	outline: none !important;
	height: 29px;
	margin-top: 0;
	z-index: 5;
	text-indent: 40px;
	font-size: 10pt;
	font-family: 'ubuntubold', sans-serif; 
	text-transform: uppercase;
	color: #ffffff;}
.btn-search:hover { background-position: 23% -31px; }
.productOfDay { background: #419dd0; }
#nav { z-index: 505; }
.right-content .btn-search { width: 14%; }
.right-content .input-search-hold { padding-right: 14% }

.prodOfDay {
	border: 10px solid #419dd0;
	position: relative;
	width: 240px;
}
.prodOfDay .sale-header { margin: -15px -35px 17px -20px; }
.prodOfDay #counter { top: -10px; right: -10px; }
.options {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}
.options li { margin-left: 0; 
	float: none;
	clear: both;
	margin-bottom: 8px;
}
.options li input { display: none; }
.options label { margin-left: -30px; padding-left: 30px; }

.tooltip-wrapper { position: relative;}
.tooltip-hold {/* width: 1px; height: 1px;
	/*position: absolute;
	top: 0;
	left: 100%; */
}
.tooltip { 
	position: absolute;
	width: 180px;
	background: rgba(0,0,0,0.8);
	border-radius: 4px; 
	top: -10px;
	right: -220px;
	color: #f5f5f5;
	font-size: 9pt;
	padding: 10px;
	display: none;	
}
.tooltip:before {
	left:-15px;
	top:15px;
	width:0px;
	height:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.8);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	content: '';
	position: absolute;
}

.input-block { 
	width: auto; 
	min-width: 100px; 
	padding: 0 5px;
}
.input-block > p { line-height: 39px; }
.link-authorized span { border-bottom: 1px dashed #fff; }
.link-authorized:hover { text-decoration: none !important; }
.popup-authorized { text-align: left; }

/* October, 28 */
.brand-block {
  text-align: center;
}
.brand-block img {
  width: auto;
  height: auto;
  max-width: 95%;
}
.product-catalog ul {
  border-left: 1px solid #e1e1e1;
}
.description-block .brand-text {
  margin: 1px 10px 0 0;
  line-height: 40px;
}
.description-block .brand-logo {
  background-position: left center !important;
  float: left;
}
.brand-detail {
	background: url('/bitrix/templates/webfly_san/css/../img/bg-main-frame-type03.gif') repeat-y;
}
.brand-detail .brand_photo_holder {
  width: 15%;
  margin-right: 2%;
  float: left;
}
.brand-detail .brand_photo_holder img {
  max-width: 100%;
}
.brand-detail .brand_info {
  float: right;
  width: 83%;
}
.brand-detail .brand_info .brand_announce {
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.brand-detail .block-type05 {
  background: none;
}

/* 29 october ----------------------------*/
.drop-nav .col { min-height: 220px; }
.drop-nav .vBlock {
  padding: 20px 0 0 20px;
  margin-right: 0;
  margin-bottom: 10px;
  width: 220px;
}
.drop-nav .picBlock {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.drop-nav .description {
  min-height: 0 !important;
}
h3 {
	line-height: 1.5;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.product-catalog02 .box {
	padding-top: 0;
}
.brand-detail .c1 {
  margin-left: 280px !important;
}

/*05 november */
.product-catalog05 .box {
  padding: 20px 0 8px;
}

.content-blog h1 a, .content-blog h2 a {	line-height: 46px; text-decoration: none !important; border-bottom: 1px solid #000;}
.content-blog h1 a:hover, .content-blog h2 a:hover { border-bottom: none;}
.content-blog .visual img { width: auto; }

.search-form { background-color: #d7d7d7; }
.input-search { border-bottom: none !important; }
.basket-footer .text { color: #515252 !important; }
.notetext { padding-top: 30px; margin-left: 30px; display: inline-block; }
.main-frame-type03 { overflow: hidden; }
.aside { position: relative; }
.fixed-bottom {
	position: absolute !important;
	top: auto !important;
	bottom: 0;
}
.fixed-bottom .topic-block {
	top: auto;
	bottom: 0;
}