.DS_Store
Thumbs.db
*.sql
.idea/

*.log
log.txt

www/upload/*
www/bitrix/stack_cache/
www/bitrix/backup/
www/bitrix/cache/
www/bitrix/image_uploader/
www/bitrix/images/
www/bitrix/managed_cache/
www/bitrix/php_interface/dbconn.php
www/bitrix/tmp/
www/bitrix/wizards/
www/bitrix/.access.php
www/bitrix/.settings.php
www/bitrix/coupon_activation.php
www/bitrix/license_key.php
www/bitrix/site_checker*.log
www/bitrix/spread.php
www/log
www/bitrix/html_pages/
