.bottomprods {
    border:1px solid #e1e1e1;
}

p.footing-p-header{
	margin-bottom: 15px !important;
    font-family: 'ubuntumedium', sans-serif;
    font-size: 10pt;
}


p.main-h2-title-type01{
	font: 22px/26px 'ubuntulight', Arial, Helvetica, sans-serif;
    float: left;
    margin: 0 10px 0 0;
	display: block;

}

.callback {
    padding-top: 11px;
    display: block;
    font-size: x-large;
}
.callback a {
    color: #fe6869 ;
}

.fixed {
    position: fixed;
}
#header-z {
    height: 121px;
    position: relative;
    z-index: -1;

}

.description a {
    text-decoration: none;
}